.text-ellipsis {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-spacing-0 {
  letter-spacing: 0;
}

.text-spacing-1 {
  letter-spacing: 1px;
}

.h-100vh {
  height: 100vh;
}
