$primary: #63ac54;
$primary-light: #8edd8e;
$primary-dark: #1d3b19;

$theme-colors: (
  'primary': $primary,
  'primary-light': $primary-light,
  'primary-dark': $primary-dark,
  'yellow': #efce36,
  'yellow-dark': #bd9c0a,
  'brown': #955b3c,
  'dark': #1a1a1a,
);

$navbar-light-color: rgba($primary-dark, 0.5);
$navbar-light-hover-color: rgba($primary-dark, 0.75);
$navbar-light-active-color: $primary-dark;
$navbar-light-disabled-color: rgba($primary-dark, 0.25);
$navbar-light-toggler-border-color: rgba($primary-dark, 0.1);
