$primary: #121312;
$primary-light: #3b423f;
$slate: #dadada;
$slate-light: #f7f7f9;
$theme-colors: (
  'primary': $primary,
  'primary-light': $primary-light,
  'slate': $slate,
  'slate-light': $slate-light,
  'yellow': #efce36,
  'yellow-dark': #bd9c0a,
  'brown': #955b3c,
  'dark': #1a1a1a,
);

$navbar-light-color: rgba($primary, 0.5);
$navbar-light-hover-color: rgba($primary, 0.75);
$navbar-light-active-color: $primary;
$navbar-light-disabled-color: rgba($primary, 0.25);
$navbar-light-toggler-border-color: rgba($primary, 0.1);
